/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
emblema-marrom-claro: 9c8154
emblema-verde-pastel: 85946d
emblema-verde-escuro: 638c46

camuflagem-base: 5abd6d
camuflagem-verde-pastel: 508d61
camuflagem-verde-escuro: 1d7d3e
camuflagem-marrom: 4f5730
*/
body {
  width: 100vw;
  color: whitesmoke;
  background-color: #1e1e1e;
  font-size: 10px;
  font-family: Georgia;
}

@media (min-width: 700px) {
  body {
    font-size: 14px;
  }
}

.escondido {
  display: none;
}

header {
  height: 100px;
  padding-left: 30px;
  color: black;
  background-color: #5abd6d;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.site-logo {
  padding-top: 5px;
  width: 70px;
  animation: 0.5s ease-out animacaoLogo normal;
}

.site-title {
  padding-top: 1vh;
  height: 70px;
  animation: 0.8s ease-out animacaoTitle normal;
}

.site-subtitle {
  font-size: 1.3em;
  opacity: 1;
  animation: 0.8s ease-out animacaoSubtitle normal;
}

@keyframes animacaoLogo {
  0% {
    transform: scale(0.2) translate(50vh);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0);
    opacity: 1;
  }
}

@keyframes animacaoTitle {
  0% {
    transform: translate(-50vw);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes animacaoSubtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  padding-top: 100px;
}

.section-title {
  font-size: 3em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.section-subtitle {
  padding: 10px 30px;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.section-subtitle > a {
  font-size: 0.8em;
  text-decoration: none;
  color: #5abd6d;
}

.pocoyos,
.guests {
  display: grid;
  grid-template-columns: 50vw 50vw;
  justify-content: center;
}

@media (min-width: 700px) {
  .pocoyos,
  .guests {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .pocoyos,
  .guests {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .pocoyos,
  .guests {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    justify-content: center;
  }
}

.card-pocoyo {
  width: 250px;
}

@media (min-width: 700px) {
  .card-pocoyo {
    width: 250px;
  }
}

.avatar {
  padding: 20px;
  width: 100px;
}

.container-check {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.2em solid #1d7d3e;
  border-radius: 10px;
  margin: 7px;
  width: 170px;
  height: 4em;
  padding: 0.8em 0.4em;
}

@media (min-width: 700px) {
  .container-check {
    width: 250px;
  }
}

.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -0.2em; /*a medida da borda*/
  left: -0.2em;
  width: 170px;
  height: 4em;
  border-radius: 10px;
  background-color: #1e1e1e;
  z-index: -100;
}

@media (min-width: 700px) {
  .checkmark {
    width: 250px;
  }
}

.container-check input:checked ~ .checkmark {
  background-color: #4f5730;
}

.regimenttag {
  margin: 1.8em 0.2em 0em 0.8em;
  color: yellow;
  font-size: 1.3em;
}

@media (min-width: 700px) {
  .regimenttag {
    padding-top: 7px;
    margin: 0.8em 0em 0em 0.8em;
  }
}

.gamertag {
  color: whitesmoke;
  font-size: 1.3em;
  padding-top: 7px;
  height: 100%;
}

.convidado {
  padding: 0.5em;
  font-size: 1.6em;
  display: grid;
  grid-template-columns: 30vw 50vw 20vw;
  justify-content: center;
}

.convidado label {
  padding-right: 0.2em;
  margin: 0.4em;
  min-height: 20px;
  display: inline-block;
}

@media (min-width: 700px) {
  .convidado label {
    margin: 0.1em;
  }
}

.convidado input {
  background-color: #1e1e1e;
  border: 2px solid #4f5730;
  border-radius: 8px;
  padding-left: 2em;
  color: #5abd6d;
  margin: 0.4em;
  height: 20px;
  display: inline-block;
}
.convidado button {
  cursor: pointer;
  background-color: #4f5730;
  border: none;
  border-radius: 8px;
  color: #5abd6d;
  margin: 0.4em;
  height: 20px;
  max-width: 50px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

@media (max-width: 699px) {
  .sortear {
    padding-left: 30px;
    color: black;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    left: calc(100vw - 130px);
    top: 25px;
  }
}

@media (min-width: 700px) {
  .sortear {
    padding: 0.5em;
    font-size: 1.6em;
    display: grid;
    grid-template-columns: 33vw 34vw 33vw;
    justify-content: center;
  }
}

.sortear button {
  cursor: pointer;
  grid-column-start: 2;
  background-color: black;
  border: 1px solid #638c46;
  border-radius: 8px;
  color: #85946d;
  margin: 0.4em;
  padding: 0.4em;
  height: 50px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

@media (min-width: 700px) {
  .sortear button {
    background-color: #1d7d3e;
    border: 1px solid #9c8154;
    color: whitesmoke;
  }
}

.result {
  position: absolute;
  left: 30vw;
  top: 20vh;
}

.result button {
  cursor: pointer;
  grid-column-start: 2;
  background-color: black;
  border: 1px solid #638c46;
  border-radius: 8px;
  color: #85946d;
  margin-left: 6.4em;
  height: 50px;
  padding: 0.4em;
  text-align: center;
  font-weight: bold;
  z-index: -50;
}

@media (min-width: 700px) {
  .sortear button {
    background-color: #1d7d3e;
    border: 1px solid #9c8154;
    color: whitesmoke;
  }
}

.card-team {
  width: 50vw;
  border: 0.2em solid #1d7d3e;
  border-radius: 10px;
  margin: 3.5em 0 0 0;
  padding: 0.8em 0.4em;
}

@media (min-width: 700px) {
  .card-team {
    width: 50vw;
  }
}

.team-name {
  font-size: 2em;
  /* border-bottom: 3px solid #5abd6d; */
  background-color: #1c1c1c;
  color: #5abd6d;
  text-align: center;
  padding-bottom: 0.6em;
}

.team-players,
.team-players .regimenttag,
.team-players .gamertag,
.team-players .role {
  padding: 0.2em 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.role {
  text-transform: uppercase;
  padding-left: 0.2em;
  color: #85946d;
}
